[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keyboard = "*"
aliyunsdkcore = "*"
PyAudio = "*"
PySide2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
